Домашнее задание

    Прочитать про методы оптимизации для нейронных сетей https://habr.com/post/318970/
    Реализовать самостоятельно логистическую регрессию
        Обучить ее методом градиентного спуска
        Методом nesterov momentum
        Методом rmsprop
    В качестве dataset'а взять Iris, оставив 2 класса:
        Iris Versicolor
        Iris Virginica

In [330]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [331]:
iris = datasets.load_iris()

In [332]:
# pd.DataFrame(iris)

In [333]:
# type(iris)

In [334]:
# iris.keys()

In [335]:
# iris.values()

In [336]:
# iris.data

In [337]:
# iris.target

In [338]:
# iris.target_names

In [339]:
data = pd.DataFrame(iris.data)

In [340]:
data1 = pd.DataFrame(iris.target)

In [341]:
data1.columns = ['target']

In [342]:
# data1

In [343]:
data = data.join(data1)

In [344]:
data

       0    1    2    3  target
0    5.1  3.5  1.4  0.2       0
1    4.9  3.0  1.4  0.2       0
2    4.7  3.2  1.3  0.2       0
3    4.6  3.1  1.5  0.2       0
4    5.0  3.6  1.4  0.2       0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3       2
146  6.3  2.5  5.0  1.9       2
147  6.5  3.0  5.2  2.0       2
148  6.2  3.4  5.4  2.3       2
149  5.9  3.0  5.1  1.8       2

[150 rows x 5 columns]

In [345]:
data = data[(data['target']==0) | (data['target']==2)]

In [346]:
data

       0    1    2    3  target
0    5.1  3.5  1.4  0.2       0
1    4.9  3.0  1.4  0.2       0
2    4.7  3.2  1.3  0.2       0
3    4.6  3.1  1.5  0.2       0
4    5.0  3.6  1.4  0.2       0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3       2
146  6.3  2.5  5.0  1.9       2
147  6.5  3.0  5.2  2.0       2
148  6.2  3.4  5.4  2.3       2
149  5.9  3.0  5.1  1.8       2

[100 rows x 5 columns]

In [347]:
data['target'].loc[data['target']==2]=1

C:\Users\FED\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\FED\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [348]:
data

       0    1    2    3  target
0    5.1  3.5  1.4  0.2       0
1    4.9  3.0  1.4  0.2       0
2    4.7  3.2  1.3  0.2       0
3    4.6  3.1  1.5  0.2       0
4    5.0  3.6  1.4  0.2       0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3       1
146  6.3  2.5  5.0  1.9       1
147  6.5  3.0  5.2  2.0       1
148  6.2  3.4  5.4  2.3       1
149  5.9  3.0  5.1  1.8       1

[100 rows x 5 columns]

In [349]:
data['target'].value_counts()

1    50
0    50
Name: target, dtype: int64

In [350]:
from sklearn.linear_model import LogisticRegression

In [351]:
model = LogisticRegression()

In [352]:
X = data.iloc[:,:-1]

In [353]:
X

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[100 rows x 4 columns]

In [354]:
y = data['target']

In [355]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    1
146    1
147    1
148    1
149    1
Name: target, Length: 100, dtype: int32

In [356]:
model.fit( X, y )

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [357]:
# model.predict_proba(X)

In [358]:
model.predict(X)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [359]:
model.score(X, y)

1.0

In [374]:
X = np.array(data.iloc[:,:-1])

In [376]:
X.shape

(100, 4)

In [391]:
y = np.array(data['target']).reshape(100,1)

In [392]:
y.shape

(100, 1)

In [393]:
y

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]])

In [394]:
ones = np.ones(X.shape)
X = np.hstack([ones, X])

In [395]:
# ones

In [396]:
Theta = np.array([[0], [0]])

In [397]:
def sigmoid(a):
    return 1.0 / (1 + np.exp(-a))

In [398]:
def cost(X, y, theta):
    m = X.shape[0]
    h = sigmoid(np.matmul(X, theta))
    cost = (np.matmul(-y.T, np.log(h)) - np.matmul((1 -y.T), np.log(1 - h)))/m
    return cost

In [399]:
def gradient_Descent(theta, alpha, X , y):
    m = X.shape[0]
    h = sigmoid(np.matmul(X, theta))
    grad = np.matmul(X.T, (h - y)) / m;
    theta = theta - alpha * grad
    return theta

In [400]:
n_iterations = 500
learning_rate = 0.5

for i in range(n_iterations):
    Theta = gradient_Descent(Theta, learning_rate, X, y)
    if i % 50 == 0:
        print(cost(X, y, Theta))

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 2 is different from 16)

In [401]:
h = sigmoid(np.matmul(X, Theta))
print((h > .5).astype(int) )

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 2 is different from 16)

In [402]:
X

array([[1. , 1. , 1. , ..., 3.5, 1.4, 0.2],
       [1. , 1. , 1. , ..., 3. , 1.4, 0.2],
       [1. , 1. , 1. , ..., 3.2, 1.3, 0.2],
       ...,
       [1. , 1. , 1. , ..., 3. , 5.2, 2. ],
       [1. , 1. , 1. , ..., 3.4, 5.4, 2.3],
       [1. , 1. , 1. , ..., 3. , 5.1, 1.8]])

In [131]:
def NM(X, gamma, lr=0.25):
    Y = []
    v = 0
    for i in range(len(X)):
        v = gamma*v + lr*(linear_interpolation(X, i+gamma*v) if i+gamma*v < len(X) else 0)
        Y.append(v)
    return np.asarray(Y)